body {
    background-color: rgb(100, 000, 100);
    text-align: center;
}

h1, h2, h3 {
    background-color:yellow;
}

p {
    font-size: 30px;
}

b {
    color:#FF0000;
}

i {
    color:#3a3d70;
}